<soho-header>
   <soho-toolbar-flex>
      <soho-toolbar-flex-section [isTitle]="true">
         <h2>
            <span soho-toolbar-flex-page-title>Shopfloor control</span>
         </h2>

      </soho-toolbar-flex-section>
   </soho-toolbar-flex>
</soho-header>
<div class="row twelve columns top-padding">

   <div class="row">
      <div class="three columns labelHead mainHead">
         <label>
            <h2>MO Number</h2>
         </label>
      </div>
      <div class="field five columns mainHeadInput">
         <input type="input" [(ngModel)]="moNumber" class="input-mm" readonly="true" [disabled]="false" />
      </div>
   </div>
   <div class="row">
      <div class="three columns labelHead mainHead">
         <label>
            <h2>Employee Number</h2>
         </label>
      </div>
      <div class="field five columns mainHeadInput">
         <input type="input" class="input-mm" [(ngModel)]="selEmpNumber" [disabled]="false" [disabled]="false" />
      </div>

   </div>
   <div class="row">
      <div class="three columns labelHead mainHead">
         <label>
            <h2>Number of Employees</h2>
         </label>
      </div>
      <div class="field five columns mainHeadInput">
         <input type="input" class="input-mm" [(ngModel)]="selNumOfEmp" [disabled]="false" />
      </div>
   </div>

   <div class="row">
      <div class="four columns" style=" margin: 50px 0 0 30px">
         <div class="field">
            <button class="btn btn-secondary btn-full-width buttonWdth" (click)="onProcess()"
               [disabled]="false">Process</button>
         </div>
      </div>
      <div class="four columns" style=" margin: 50px 0 0 30px">
         <div class="field">
            <button class="btn btn-secondary btn-full-width buttonWdth" routerLink="" routerLinkActive="active"
               [disabled]="false">Back to Main Page</button>
         </div>
      </div>

   </div>
</div>
